@using System.Globalization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.Localization
@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
@inject IPageLayout PageLayout
@{
    Layout = null;
    var pageTitle = ViewBag.Title == null ? BrandingProvider.AppName : ViewBag.Title; //TODO: Discard to get from Title

    if (PageLayout.Content.Title != null)
    {
        if (!string.IsNullOrWhiteSpace(pageTitle))
        {
            pageTitle = " | " + pageTitle;
        }

        pageTitle = PageLayout.Content.Title + pageTitle;
    }
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@(CultureHelper.IsRtl ? "rtl" : "")">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@pageTitle</title>

    @* <abp-style-bundle name="@MicroserviceDemoWebBundles.Styles.Global"/> *@

    @await RenderSectionAsync("styles", false)
</head>
<body>

<div class="container">
    @RenderBody()
</div>

@* <abp-script-bundle name="@MicroserviceDemoWebBundles.Scripts.Global"/> *@

@await RenderSectionAsync("scripts", false)
</body>
</html>